body {
  background-color: #0af;
}

.main {
  background-color: #0df;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.el-tag {
  margin: 1px 1px 1px 1px;
}